body{
    margin: 0;
    padding: 0;
    background-color: rgb(192, 190, 186);
}
/* header  */
.heading{
    text-align: center;
    font-style: italic;
    font-weight: 900;
    font-size: 1.3em;
    background:#2b3e5c;
    padding: 10px;
    color: white;
}

/*  popup button */

#addButton{
    font-size: 1.2em;
    font-weight: 900;
    padding: 10px 40px;
    border-radius: 8px;
    background: #cbdbf5;
}

/* form for get input from user */
 
.overlay{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0,.5);
    pointer-events: none;
    
}
.formContainer{
    width: 380px;
    padding: 10px;
    border: 2px solid #d1d3d6;
    border-radius: 8px;
    font-size: 1.5em;
    font-weight: 800;
    background: white;
    z-index: 10;
}
form .textField{
    border-radius: 5px;
    padding: 8px;
    width: 90%;
    border: 1px solid #e8dfdf;
    background: #e8dfdf;
    outline: none;
}
 form button{
     border-radius: 5px;
     padding: 8px 20px;
     font-size: 0.8em;
     font-weight: 900;
     background: #0f7bd9;
     color: white;
 }

 .formContainer #formHeading{
     display: flex;
     justify-content: space-between;
     margin-bottom: 10px;
 }

 .formContainer .closeButton{
     background:none;
     color: black;
     font-size: 1.3em;
     border: none;
     outline: none;
     cursor: pointer;
    font-weight: 900; 
     
 }

 .active{
    opacity: 1;
    pointer-events: auto;
 }

 /* submit button for add new book  to myLibrary array */

 form #submitButton{
     margin-top: 20px;
    text-align: center;
 }


/* book container */

.bookContainer{
    padding: 50px;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.card{
    text-align: center;
    border: 1px solid #e6eaff;
    padding: 10px;
    border-radius: 8px;
    font-size: 1.3em;
    font-weight: 800;
    background: #f5f5f5;
    box-shadow: 0 10px 6px -6px #777;
}

.card button{
    font-weight: 900;
    padding: 5px 16px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
}

.card .remove{
    color: white;
    margin-left: 5px;
    background: #fc1758;
}

/* .card p{
    margin-left: 20%;
} */

@media only screen and (max-width: 600px) {
    .formContainer{
      width: 85%;
      margin: 10px;
    }
    .bookContainer{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .card{
        width: 50%;
    }
  }